body{
    background-image: url(https://www.shutterstock.com/image-vector/pattern-social-icons-comments-likes-260nw-595503740.jpg);
    background-position: center;
    background-size: cover;
}
button{
    background-color: rgb(61, 167, 197));
}